@font-face {
  font-family: 'pokemon hollow';
  src: url('../fonts/pokemon_hollow-webfont.woff2') format('woff2'),
       url('../fonts/pokemon_hollow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#container-pokemon{
  margin-top: 2rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  background-color: #2CA4E8;
  border-radius: 4px;
  margin-bottom: 2rem;
  height: auto;
  padding: 2rem;
}
.jumbotron .container{
  margin-bottom: -1rem !important;
}

#container-badge-tipo-pokemon {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  z-index: 100;
}
.icon{
  width: 3rem;
  float: right;
  margin: 0.5rem 0.3rem 0 0.3rem;
}
.icon:hover{
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}
#container-principal h2{
  color: #2CA4E8;
}

#foto-pokemon{
  width: 100%;
  margin: 0 auto;
  transition: transform 0.2s;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding: 1rem;
}
#container-foto-pokemon{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
}
#foto-pokemon:hover{
  transform: matrix(1, 0, 0, 1, 0, -10);
}

.jumbotron.container{
  margin-bottom: -3rem;
}

#container-peso-altura{
  margin-top: 2rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  background-color: #2CA4E8;
  border-radius: 4px;
  margin-bottom: 2rem;
  height: fit-content;
  padding: 2rem;
}
#container-peso-altura strong{
  color: #fff;
}

#container-descripcion{
  margin-top: 2rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  background-color: #2CA4E8;
  border-radius: 4px;
  margin-bottom: 2rem;
  height: fit-content;
  padding: 2rem;
}
#container-descripcion .titulo{
  color: #fff;
  font-weight: bold;
}
.jumbotron{
  background-color: #2CA4E8;
  padding: 0.5rem;
  border-radius: 0;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.5);

}
.jumbotron h1{
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1rem 0 1rem 0;
  font-family: 'pokemon hollow';
  font-size: 4rem;
}
#autoComplete_wrapper {
  position: relative;
  display: inline-block;
}

.jumbotron .container{
  margin: 0.5rem auto 1rem auto;
}
.search-pokebola{
  background-image: url("../img/pokebola.png");
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  top: -57px;
  left: 5px;
  transition: transform 0.1s;
}
.search-pokebola:hover{
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

#autoComplete {
  padding: 0 0.5rem 0 3.8rem;
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  outline: 1px;
  color: rgb(74, 171, 228);
  transition: all 0.4s ease;
  -webkit-transition: all -webkit-transform 0.4s ease;
  text-overflow: ellipsis;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);  
}

#autoComplete::placeholder {
  color: rgba(74, 171, 228, 0.8);
  transition: all 0.3s ease;
}

#autoComplete:hover::placeholder {
  color: rgba(74, 171, 228, 0.3);
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:focus::placeholder {
  font-size: 2rem;
  color: rgba(74, 171, 228, 0.3);
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete::selection {
  color: transparent;
}

#autoComplete:focus::selection {
  color: #fff;
  background-color:rgb(74, 171, 228);
}

#autoComplete:focus {
  padding: 0 1rem 0 4.rem;
  color: rgb(74, 171, 228);
  height: 4rem;
  width: 100%;
  border: 0.1rem solid rgba(2, 65, 102, 0.5);
  box-shadow: rgba(255, 122, 122, 0.1) 0px 0px 20px 5px;
}

#pokemon-list {
  position: fixed;
  z-index: 1000;
  padding: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all -webkit-transform 0.1s ease;
}

.autoComplete_result {
  padding: 0.6rem;
  width: 100%;
  border: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
  color: rgb(123, 123, 123);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
}

.autoComplete_result::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}

.autoComplete_result:last-child {
  border-radius: 0 0 1rem 1rem;
}

.autoComplete_result:hover {
  cursor: pointer;
}

.autoComplete_result:focus {
  outline: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.autoComplete_highlighted {
  opacity: 1;
  color: rgba(255, 122, 122, 1);
  font-weight: bold;
}

.autoComplete_highlighted::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}

.autoComplete_selected {
  cursor: pointer;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background-color: rgba(#2CA4E8, 0.5) !important;
}
